* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}


/* Navigation */

.nav-container {
    background: #C51230;
    height: 64px;
    position: relative;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

nav ul {
    display: flex;
    margin: 32px;
}

nav .logo {
    font-family: Bodoni;
    font-style: bold;
    font-weight: 800;
    font-size: 24px;
    margin: 32px;
}

nav a {
    color: white;
    text-decoration: none;
}

.nav-items li {
    list-style: none;
    margin-right: 10px;
}

.nav-items li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.header-container {
    height: calc(100vh - 72px);
    margin-left: 100px;
    display: flex;
    align-items: center;
}


/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin-right: 150px;
    margin-bottom: 24px;
}

header a {
    color: #fffffa;
    font-size: 20px;
    text-decoration: none;
    background: #C51230;
    border-radius: 90px;
    padding: 12px 48px;
    display: block;
    width: 300px;
    margin: 18px;
    transition: 300ms;
    text-align: center;
}

header a:hover {
    transform: translateY(-6px);
    background: #E73F5B;
}


/* Hero image */

header .hero-image {
    position: relative;
}

header .hero-image img {
    transition: 300ms;
    position: relative;
}

header .hero-image img:hover {
    transform: rotate(-6deg);
}


/* Sidebar */

.sidebar {
    background: #F1F1F1;
    position: fixed;
    width: 260px;
    height: 100%;
    
}

.sidebar ul {
    list-style: none;
    margin-top: 28px;
    
}

.sidebar ul li a {
    display: block;
    color: black;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    font-weight: bold;

    border-radius: 10px;
    padding: 10px;
    width: 188px;
    margin-bottom: 10px;
}

.sidebar ul li a .icon {
    color: black;
    width: 26px;
    display: inline-block;
}

.sidebar ul li a:hover {
    color: #C51230
}
.sidebar ul li a.active {
    color: white;
    background: #C51230;
}

.sidebar ul li a:hover .icon {
    color: #C51230
}

.sidebar ul li a.active .icon {
    color: white;
}